@use 'styles/abstract' as *;

.container {
    @include defaultContainer;
}
.search-section {
    @include displayFlexCentered;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 5px;
}
.sort-container {
    position: relative;
    background-color: transparent;
}