@use 'styles/abstract' as *;

%titles-style {
    padding: .5em 0;
    font-weight: 500;
    font-size: 1.05rem;
}
%flex-column {
    display: flex;
    flex-direction: column;
    max-width: max-content;
}
.container {
    @extend %flex-column;
    padding: .75em 1em;
}
.brand-section,
.category-section {
    @extend %flex-column;
    &__title { @extend %titles-style; }
}
.price-section {
    @include displayFlexCentered;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title { 
        @extend %titles-style; 
        width: 100%;
    }
}
.section__list {
    list-style: none;
    padding: .5em 0;

    li {
        max-width: max-content;
        &:not(:first-child) {
            margin-top: .5em;
        }
    }
}