@use 'styles/abstract' as *;

%titles-style {
    padding-bottom: .65em;
    font-weight: 500;
    font-size: 1.05rem;
}
%flex-column {
    display: flex;
    flex-direction: column;
    max-width: max-content;
}
.container {
    @extend %flex-column;
    padding: 1.5em;
    background-color: var(--white-clr);
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    
    &.--active {
        transform: translateX(0%);
    }

    &__title {
        margin-bottom: .5em;
        font-family: $font-impact;
        font-weight: 500;
        color: var(--black-clr);
    }
}
.close-btn {
    position: relative;
    display: flex;
    width: max-content;
    height: max-content;
    margin-left: auto;
    padding: 0;
    background: none;
    border: none;
    color: var(--black-clr);
    font-size: var(--fz-logo);
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 100%;
    box-sizing: border-box;

    &__fieldset {
        display: inline-block;
        border: none;
        padding: .5em 0;
        max-width: 100%;
        max-width: 100%;
        box-sizing: border-box;

        &:not(:last-of-type) {
            border-bottom: solid 1px var(--light-gray-clr);
        }

    }
}
.fieldset__title {
    font-size: 1.1rem;
    font-weight: 500;
}
.price-inputs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: .5em;
}

.buttons-container {
    @include displayFlexCentered;
    justify-content: flex-end;
    column-gap: 1em;
    margin-top: .75em;
}
.reset-btn,
.submit-btn {
    @include defaultBtn;
    border-radius: 10px;
    font-size: var(--fz-link) + .5rem;
    cursor: pointer;
}
.submit-btn {
    background-color: var(--black-clr);
    color: var(--white-clr);
}