//fonts
$font-normal: 'Rubik', sans-serif;
$font-impact: 'Kanit', 'Arial Black', sans-serif;

$sizes: (
    'logo': 2rem,
    'nav-list-items': 1.25rem,
    'impact-title': 1.35rem,
    'btn': .88rem,
    'link': .90rem,
    'footer-title': 1.2rem,
    'nav-btn': 1.45rem,
    'product-title': 1rem,
    'product-badge': .85rem
);

//line-height
$line-height: 1.5em;
//containers
$defaultContainerPadding: 1em;

//colors
$colors: (
    "black": #212529,
    "light-black": rgb(77, 77, 77),
    "white": #fff,
    "gray": #f4f4f4,
    "light-gray": rgba(0, 0, 0, .1)
);