//fonts
$font-normal: 'Rubik', sans-serif;
$font-impact: 'Kanit', 'Arial Black', sans-serif;

$sizes: (
    'logo': 2rem,
    'nav-list-items': 1.75rem,
    'impact-title': 1.35rem,
    'btn': .88rem
);

//containers
$defaultContainerPadding: 1em;

//colors
$colors: (
    "black": #212529,
    "white": #fff,
    "gray": #f4f4f4
);