@use 'styles/abstract' as *;

.container {
    padding: .25em .1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.label,
.input {
    display: inline-block;
}
.input { 
    flex: 1 2;
    width: 0;
    min-width: 2ch;
    max-width: 6ch;
    padding: {
        top: .25em;
        bottom: .25em;
    }
    margin-left: .75ch;
    @extend %thin-gray-border;
    &[type=number]::-webkit-outer-spin-button,
    &[type=number]::-webkit-inner-spin-button,
    &[type=number] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
}

