@use 'styles/abstract' as *;

.container {
    @include displayFlexCentered;
    justify-content: flex-start; 
    width: 45%; 
    box-sizing: border-box;
}
.label,
.input {
    display: inline-block;
}
.input { 
    max-width: 6ch;
    box-sizing: border-box;
    margin-left: .4em;
    @extend %thin-gray-border;
    
    &[type=number]::-webkit-outer-spin-button,
    &[type=number]::-webkit-inner-spin-button,
    &[type=number] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }
}

