@use 'styles/abstract' as *;

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: .25em;
    font-size: var(--fz-nav-btn);
}
.user-container {
    display: flex;
    align-items: center;
    > * {
        padding: .1em;
        background-color: transparent;
    }
}
.menu-container { 
    display: flex; 
}
.links-list {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    z-index: 6;
    width: 100%;
    height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    background: var(--gray-clr);
    list-style: none;
    font-size: var(--fz-nav-list-items);
    transition: all .5s ease-in-out;

    &__li {
        padding: .25em 1em;
        &:first-child {
            padding-top: .5em;
        }
    }
    &__item {
        color: var(--black-clr);
        font-weight: 600;
    }
    &.--active{
        overflow: auto;
        height: 100vh;
    }
}
.btn-dropdown {
    display: flex;
    align-items: center;
    border: none;
    background: inherit;
    padding: 0;

    .icon {
        display: flex;
        margin-left: .1em;
        transition: .2s;
        &.--active {
            transform: rotate(180deg);
        }
    }
}