@use 'styles/abstract/variables' as *;
.container { position: relative; }
.container,
.logo {
    display: inline-block;
}
.logo {
    font-family: $font-impact;
    font-style: italic;
    font-size: var(--fz-logo);
    font-weight: 600;
    color: var(--black-clr);
}